#root {
  position: relative;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  background-image: url('./assets/img/grassblock.png'), url('./assets/img/dirt.png');
  background-size: 64px, 64px;
  background-repeat: repeat-x, repeat;
  background-position: top left, 64px 64px;
}

h1 {
  color: #fff;
  height: 128px;
  box-sizing: border-box;
  padding: 20px 10px;
  text-align: left;
  font-size: 30px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#animation_layout {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 100;
}