.Underground {
  display: grid;
  /* grid-template-columns: repeat(8, 64px);
  grid-template-rows: repeat(8, 64px); */
  user-select: none;
  background: url(./assets/img/deepslate.png);
  background-size: 64px;
  overflow: hidden;
}